<div class="d-flex flex-column">
  <div class="container mt-3 mx-6">
    <div class="row">
      <div class="col-9">
        <ca-cats-forms-pagination
          (onPageChange)="onPageChanged($event)"
          [pageSize]="pageSize"
          [pageNumber]="(pageNumber$ | async) || 1"
          [totalItems]="(totalItems$ | async) || 0"
        >
        </ca-cats-forms-pagination>
      </div>
      <div class="col-3">
        <div class="d-flex flex-row justify-content-end">
          <ca-cats-forms-filter (onFilterChange)="onFilterChanged($event)"></ca-cats-forms-filter>
        </div>
      </div>
    </div>
  </div>
  <ca-cats-cards-view *ngIf="cats$ | async as cats"
    class="w-100 px-6"
    [cats]="cats"
  ></ca-cats-cards-view>
</div>
