<div class="container-fluid p-0" *ngIf="cat$ | async as cat">

  <div class="card text-bg-dark border-0 rounded-0 header-card">
    <img src="{{cat.image}}" class="card-img" alt="{{cat.name}}">
    <div class="card-img-overlay">
      <h1 class="card-title">{{cat.name}}</h1>
      <h5 class="card-text">{{cat.age | ageToYearsOld}}</h5>
      <p class="card-text">{{cat.breed}}</p>
      <p class="card-text position-absolute bottom-0 mb-2"><small>Listed at {{cat.listedAt | date}}</small></p>
    </div>
  </div>

  <div class="p-3">

    <div>
      <h3>Cat description</h3>
      <p>{{cat.description}}</p>
    </div>

    <ng-container *ngIf="isPremiumCat(cat)">
      <div class="alert pb-0" [ngClass]="cat.isAdopted ? 'alert-light' : 'alert-info'" role="alert">
        <h6>Premium<i class="bi bi-gitlab ms-1"></i></h6>
        <p class="mb-0">This is a premium cat.</p>
        <p class="mb-0" *ngIf="cat.isAdopted">
          <span>Sadly, this cat is currently </span><span class="text-decoration-underline">adopted.</span>
        </p>
        <p class="mb-0" *ngIf="!cat.isAdopted">
          <span>You're in luck! This cat is currently </span><span class="text-decoration-underline">not adopted.</span>
        </p>
        <p>
          <span class="fw-semibold me-1"><i class="bi bi-bag-heart-fill me-1"></i>Adoption Fee:</span><span>{{cat.adoptionFee}} $</span>
        </p>
      </div>
    </ng-container>

    <div class="card contact-card">
      <div class="card-body">
        <h5 class="card-title">Contact</h5>
        <p class="card-text"><i class="bi bi-person-fill me-1"></i>{{cat.contactName}} ({{cat.contactPhone}})</p>
        <a href="{{'tel:' + cat.contactPhone}}" class="btn btn-primary"><i class="bi bi-telephone me-1"></i> Call {{cat.contactPhone}}</a>
      </div>
    </div>

  </div>
</div>
